.discord a {
  background: #7289da;
  padding: 0 20px;
  line-height: 35px;
  color: #fff;
  font-family: "Helvetica", "Arial", sans-sefir;
  font-size: 20px;
  display: block;
  width: 250px;
  text-decoration: none;
  border-radius: 105px;
}
